<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Students List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Age</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async let i = index;">
          <td>{{i+1}}</td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.emailId}}</td>
          <td>{{employee.age}}</td>
          <td>{{employee.city}}</td>
          <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
            <button (click)="employeeDetails(employee.id)" class="btn btn-info"
              style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>